<nav [ngClass]="{
    'shadow-sm transition-all' : isScrolling
}" class="relative bg-[#FFFFFFE8] md:sticky top-0 flex flex-wrap items-center justify-between px-2 py-3 mb-3">
    <div class="container max-w-6xl md:px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
            <a
                class="hover:scale-95 transition-colors delay-75 ease-linear hover:text-[#ffc200] inline-block mr-4 py-2 whitespace-nowrap text-[21px] leading-[30px] cursor-pointer font-bold">
                @jaycabasag
            </a>
            <button (click)="toggleNavbar()"
                class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none">
                <!-- <span class="block relative w-6 h-px rounded-sm bg-gray-500"></span>
                <span class="block relative w-6 h-px rounded-sm  bg-gray-500 mt-2"></span>
                <span class="block relative w-6 h-px rounded-sm  bg-gray-500 mt-2"></span> -->

                <span [ngClass]="{
                    ' rotate-45 ' : expandNavbar,
                    ' rotate-0 ' : !expandNavbar
                  }" class="transition-all delay-75 ease-in block relative w-6 h-px rounded-sm bg-gray-500"></span>
                <span [ngClass]="{
                    ' hidden ' : expandNavbar,
                    ' block ' : !expandNavbar
                  }" class="transition-all ease-in relative w-6 h-px rounded-sm  bg-gray-500 mt-2"></span>
                <span [ngClass]="{
                    ' -rotate-45 ' : expandNavbar,
                    ' rotate-0 mt-2' : !expandNavbar
                  }" class="transition-all delay-75 ease-in block relative w-6 h-px rounded-sm  bg-gray-500"></span>

            </button>
        </div>
        <div class="lg:flex flex-grow items-center text-gray-500" id="example-navbar-warning">
            <ul [ngClass]="{
                ' flex ': expandNavbar,
                ' hidden md:flex ': !expandNavbar
            }" class="flex-col lg:flex-row list-none mr-auto ml-auto">
                <li [ngClass]="{
                    'hover:opacity-100 transition-all hover:scale-95 delay-75 ease-linear hover:text-[#ffc200] cursor-pointer': true,
                        'opacity-100 text-[#ffc200]' : currentRoute === '/',
                        'opacity-85' : currentRoute !== '/'
                    }">
                    <a [routerLink]="['']"
                        class="px-6 py-2 flex items-center hover:opacity-75 text-[16px] leading-[24px] font-bold">
                        Home
                    </a>
                </li>
                <li [ngClass]="{
                    'hover:opacity-100 transition-all hover:scale-95 delay-75 ease-linear hover:text-[#ffc200] cursor-pointer': true,
                        'opacity-100 text-[#ffc200]' : currentRoute === '/projects',
                        'opacity-85' : currentRoute !== '/projects'
                    }">
                    <a [routerLink]="['projects']"
                        class="px-6 py-2 flex items-center hover:opacity-75 text-[16px] leading-[24px] font-bold">
                        Projects
                    </a>
                </li>
                <li [ngClass]="{
                    'hover:opacity-100 transition-all hover:scale-95 delay-75 ease-linear hover:text-[#ffc200] cursor-pointer': true,
                        'opacity-100 text-[#ffc200]' : currentRoute === '/resume',
                        'opacity-85' : currentRoute !== '/resume'
                    }">
                    <a [routerLink]="['resume']"
                        class="px-6 py-2 flex items-center hover:opacity-75 text-[16px] leading-[24px] font-bold">
                        Resume
                    </a>
                </li>
                <li [ngClass]="{
                    'hover:opacity-100 transition-all hover:scale-95 delay-75 ease-linear hover:text-[#ffc200] cursor-pointer': true,
                        'opacity-100 text-[#ffc200]' : currentRoute === '/contacts',
                        'opacity-85' : currentRoute !== '/contacts'
                    }">
                    <a [routerLink]="['resume']"
                        class="px-6 py-2 flex items-center hover:opacity-75 text-[16px] leading-[24px] font-bold">
                        Contacts
                    </a>
                </li>
            </ul>
            <button [ngClass]="{
                ' flex ': expandNavbar,
                ' hidden md:flex ': !expandNavbar
            }"
                class="px-3 py-2 hover:scale-95 hover:text-[#fcbf00] cursor-pointer  text-[16px] leading-[24px] font-bold flex gap-2">
                <img src="assets/light-mode-icon.svg" />
                Color mode
            </button>
        </div>
    </div>
</nav>