<nav [ngClass]="{ 
    'shadow-sm transition-all' : isScrolling
}" class="bg-[#FFFFFFE8] sticky top-0 h-[60px] md:h-[86px] flex items-center justify-center">
    <div class="flex max-w-[1140px] flex-1 items-center">
        <div>
            <h1
                class="hover:scale-95 transition-colors delay-75 ease-linear hover:text-[#ffc200] pl-[12px] text-[21px] leading-[30px] cursor-pointer font-bold">
                @jaycabasag
            </h1>
        </div>
        <div class="flex justify-end md:justify-between  flex-end pr-[15px] flex-1 md:bg-none md:pl-[145px]">
            <ul [ngClass]="{
                'ml-[0px] transition-all ease-in delay-100': expandNavbar,
                'p-[0px] transition-all -ml-[280px] md:ml-0 ease-out delay-100': !expandNavbar
            }"
                class="p-[25px] w-[240px] left-0 top-0 bottom-0 fixed md:relative md:flex shadow-md md:shadow-none bg-white md:bg-transparent h-auto flex flex-col md:flex-row gap-[40px] text-[14px] md:text-[16px] leading-[24px] font-bold">
                <li
                    class="opacity-50 hover:opacity-100 transition-all hover:scale-95 delay-75 ease-linear hover:text-[#ffc200] cursor-pointer">
                    About</li>
                <li
                    class="opacity-50 hover:opacity-100 transition-all  hover:scale-95 delay-75 ease-linear hover:text-[#ffc200] cursor-pointer">
                    Projects</li>
                <li
                    class="opacity-50 hover:opacity-100 transition-all hover:scale-95 delay-75 ease-linear hover:text-[#ffc200] cursor-pointer">
                    Resume</li>
                <li
                    class="opacity-50 hover:opacity-100 transition-all hover:scale-95 delay-75 ease-linear hover:text-[#ffc200] cursor-pointer">
                    Contact</li>
                <li
                    class="hover:scale-95 transition-colors delay-75 ease-linear hover:text-[#ffc200] cursor-pointer block md:hidden">
                    <button class="hover:scale-95 text-[16px] leading-[24px] font-bold flex gap-2">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M12 18.5C15.5899 18.5 18.5 15.5899 18.5 12C18.5 8.41015 15.5899 5.5 12 5.5C8.41015 5.5 5.5 8.41015 5.5 12C5.5 15.5899 8.41015 18.5 12 18.5Z"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round">
                                </path>
                                <path
                                    d="M19.14 19.14L19.01 19.01M19.01 4.99L19.14 4.86L19.01 4.99ZM4.86 19.14L4.99 19.01L4.86 19.14ZM12 2.08V2V2.08ZM12 22V21.92V22ZM2.08 12H2H2.08ZM22 12H21.92H22ZM4.99 4.99L4.86 4.86L4.99 4.99Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                </path>
                            </g>
                        </svg>
                        Color mode
                    </button>
                </li>
            </ul>
            <button class="rounded-md border flex md:hidden" (click)="toggleNavbar()">

                <svg [ngClass]="{ 
                    'hidden transition-all': expandNavbar,
                    'block transition-all': !expandNavbar
                }" width="45px" height="45px" viewBox="-7.2 -7.2 34.40 34.40" xmlns="http://www.w3.org/2000/svg"
                    fill="none">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill="#000000" fill-rule="evenodd"
                            d="M19 4a1 1 0 01-1 1H2a1 1 0 010-2h16a1 1 0 011 1zm0 6a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-1 7a1 1 0 100-2H2a1 1 0 100 2h16z">
                        </path>
                    </g>
                </svg>

                <svg [ngClass]="{ 
                    'hidden transition-all': !expandNavbar,
                    'block transition-all': expandNavbar
                }" width="40px" height="40px" viewBox="-7.56 -7.56 36.12 36.12" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <title>close [#1511]</title>
                        <desc>Created with Sketch.</desc>
                        <defs> </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Dribbble-Light-Preview" transform="translate(-419.000000, -240.000000)"
                                fill="#000000">
                                <g id="icons" transform="translate(56.000000, 160.000000)">
                                    <polygon id="close-[#1511]"
                                        points="375.0183 90 384 98.554 382.48065 100 373.5 91.446 364.5183 100 363 98.554 371.98065 90 363 81.446 364.5183 80 373.5 88.554 382.48065 80 384 81.446">
                                    </polygon>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
        <div class="hidden md:block">
            <button
                class="hover:scale-95 hover:text-[#fcbf00] cursor-pointer  text-[16px] leading-[24px] font-bold flex gap-2">
                <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M12 18.5C15.5899 18.5 18.5 15.5899 18.5 12C18.5 8.41015 15.5899 5.5 12 5.5C8.41015 5.5 5.5 8.41015 5.5 12C5.5 15.5899 8.41015 18.5 12 18.5Z"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path
                            d="M19.14 19.14L19.01 19.01M19.01 4.99L19.14 4.86L19.01 4.99ZM4.86 19.14L4.99 19.01L4.86 19.14ZM12 2.08V2V2.08ZM12 22V21.92V22ZM2.08 12H2H2.08ZM22 12H21.92H22ZM4.99 4.99L4.86 4.86L4.99 4.99Z"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </g>
                </svg>
                <!-- <svg width="26px" height="26px" viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.50009 12.0008C7.49604 10.6271 7.87712 9.2798 8.60009 8.11177C9.30106 6.97733 10.3262 6.07929 11.5431 5.53377C12.7306 5.00425 14.0552 4.86422 15.3271 5.13377L15.5091 5.17577C14.7053 5.71232 14.0258 6.41473 13.5161 7.23577C12.7931 8.4038 12.412 9.7511 12.4161 11.1248C12.4068 12.9579 13.0921 14.7265 14.3341 16.0748C15.1848 16.9942 16.285 17.6458 17.5001 17.9498C16.4784 18.6323 15.2778 18.9979 14.0491 19.0008C12.2877 18.9902 10.6101 18.2475 9.41809 16.9508C8.17612 15.6025 7.49083 13.8339 7.50009 12.0008Z"
                            stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </svg> -->
                Color mode
            </button>
        </div>
    </div>
</nav>